
.flex{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 600px;
}
#productinfo {
  
    background-color: rgb(243, 243, 243);
    width: 65%;
    height: 100%;
    margin-top: 100px;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;   
    margin-bottom: 25px;
}

.productphoto {
    float: left;
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 45%;
    margin-top: 25px;
    margin-left: 25px;
    
    border: solid 2px rgb(245, 246, 247, 1);
}

.productphoto1 {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 65%;
    margin-bottom: 11.5%;
    transition: 0.2s;
}


.productphoto1:hover {
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000; 
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.containerphoto {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding-top: 50px;
}

.productinformation {
    float: right;
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 45%;
    margin-top: 25px;
    margin-right: 25px;
    border: solid 2px rgb(245, 246, 247, 1);
}

.producttitel {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 35px;

}

.price {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 25px;
}

.shoppingcartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.shoppingcartAdd {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    margin-top: 100px;
    outline: 0;
    text-align: center;
    width: 50%;
    line-height: 250%;


}

.shoppingcartAdd:hover {
    background-color: rgb(220, 9, 9);
}

.buttonText {
    color: white;
}

