.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



#cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    height: 750px;
    width: 75%;
    margin-top: 50px;
    gap: 25px;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.productimages {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 50%;
    height: 90%;
    margin-left: 25px;
}

.cartInfo {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 50%;
    height: 90%;
    margin-right: 25px;

}

.lijn4 {
    border-bottom: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
}

.Checkout {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    margin-top: 100px;
    outline: 0;
    text-align: center;
    width: 50%;
    line-height: 250%;
    margin-left: 25%;

}

.Checkout:hover {
    background-color: rgb(220, 9, 9);
}

