.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



#cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    height: 100%;
    width: 75%;
    margin-top: 50px;
    gap: 25px;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}


.cartInfo {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 90%;

}

.lijn4 {
    border-bottom: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
}

.Checkout {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    margin-top: 50px;
    outline: 0;
    text-align: center;
    width: 50%;
    line-height: 250%;
    margin-bottom: 50px;
}

.Checkout:hover {
    background-color: rgb(220, 9, 9);
}

.productName {
  font-size: 25px;
  margin-bottom: 2%;
}

.amount {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.productPrice {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
